# Virtual Environment
.venv/
venv/

# Python cache
__pycache__/
*.py[cod]

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Data files
*.csv
*.xlsx
*.xls
*.parquet
*.feather
*.pkl
*.joblib
*.zip

# Outputs / Logs
outputs/
logs/

# System files
.DS_Store

# Streamlit cache
.streamlit/

# Model files
models/

